{% extends 'base.html' %}
{% block content %}
<h2>Lost & Found Posts</h2>
<a href="{% url 'post_item' %}" class="btn btn-primary">Post Lost Item</a>
<hr>
{% for item in items %}
  <div class="card mt-3">
    <img src="{{ item.image.url }}" width="200px">
    <h4>{{ item.title }}</h4>
    <p>{{ item.description }}</p>
    <p><b>Location:</b> {{ item.location }}</p>
    {% if not item.found %}
      <a href="{% url 'claim_item' item.id %}" class="btn btn-success">Claim</a>
    {% else %}
      <span class="badge bg-secondary">Claimed</span>
    {% endif %}
  </div>
{% endfor %}
{% endblock %}
